In [1]:
import csv
import random
from datetime import datetime, timedelta
from faker import Faker
import pycountry
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime, timedelta
from sqlalchemy import MetaData
from sqlalchemy import Table, Column, Integer, String
from sqlalchemy.dialects.mysql import VARCHAR
fake = Faker()

In [2]:
#create connection with database
conn_url='postgresql://postgres:123@localhost:5432/5310_test_7'
engine= create_engine(conn_url)
connection=engine.connect()

In [3]:
#read in raw data
hotels_raw = pd.read_csv('hotels.csv')
flights_raw = pd.read_csv('flights.csv')
reviews_raw = pd.read_csv('hotel_reviews_raw.csv')
car_raw = pd.read_csv('CarRentalData.csv')

In [4]:
#randomly select a sample of size 300 from all datasets
sample_size=300
hotels_sample = hotels_raw.sample(n=sample_size,replace=True,random_state=310)
flights_sample = flights_raw.sample(n=sample_size,replace=True,random_state=310)
reviews_sample = reviews_raw.sample(n=sample_size,replace=True,random_state=310)
cars_sample = car_raw.sample(n=sample_size,replace=True,random_state=310)

In [5]:
#append back the flight travels with the same travelCode (return flights)
flights_sample = flights_raw[flights_raw['travelCode'].isin(flights_sample['travelCode'])]
flights_sample

,travelCode,userCode,from,to,flightType,price,time,distance,agency,date
850,425,4,Aracaju (SE),Campo Grande (MS),firstClass,1389.37,1.69,650.10,CloudFy,09/26/2019
851,425,4,Campo Grande (MS),Aracaju (SE),firstClass,1581.80,1.69,650.10,CloudFy,09/29/2019
8994,4497,45,Aracaju (SE),Brasilia (DF),premium,755.62,1.11,425.98,CloudFy,10/08/2020
8995,4497,45,Brasilia (DF),Aracaju (SE),premium,987.07,1.11,425.98,CloudFy,10/10/2020
9458,4729,47,Aracaju (SE),Rio de Janeiro (RJ),economic,717.04,1.55,597.61,CloudFy,04/09/2020
...,...,...,...,...,...,...,...,...,...,...
268785,134392,1322,Campo Grande (MS),Florianopolis (SC),firstClass,1446.34,1.49,573.81,CloudFy,05/28/2021
269226,134613,1323,Florianopolis (SC),Brasilia (DF),firstClass,1087.18,1.66,637.56,Rainbow,06/23/2022
269227,134613,1323,Brasilia (DF),Florianopolis (SC),firstClass,1576.97,1.66,637.56,Rainbow,06/26/2022
269436,134718,1324,Florianopolis (SC),Aracaju (SE),firstClass,1574.28,2.10,808.85,FlyingDrops,09/03/2020
269437,134718,1324,Aracaju (SE),Florianopolis (SC),firstClass,1499.93,2.10,808.85,FlyingDrops,09/05/2020

In [6]:
#get all the unique cities from the flight table
temp_cities_series = pd.Series(flights_sample['from'].unique())
temp_cities_series2 = pd.Series(flights_sample['to'].unique())
cities_temp_df = pd.concat([temp_cities_series, temp_cities_series2], ignore_index=True)
cities_temp_df = pd.DataFrame({'city_name_temp': cities_temp_df.unique()})

In [7]:
#reallocate the cities structure so that they would have a name and a seperated abbreviated id
cities_df = cities_temp_df['city_name_temp'].str.split(' \(', expand=True)
cities_df.columns = ['city_name', 'city_id']
cities_df['city_id'] = cities_df['city_id'].str.replace(')', '')

C:\Users\ZHOU\AppData\Local\Temp\ipykernel_26120\638145165.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  cities_df['city_id'] = cities_df['city_id'].str.replace(')', '')

In [8]:
#insert values into the flying destination_cities table
cities_df.to_sql(name='destination_cities', con=engine, if_exists='append', index=False)

9

In [9]:
#read user data and change ages into date of births (data in the user table are randomly generated execept for dobs)
df_users = pd.read_csv('user_DATA_noDOB.csv',nrows = 100)
df_users_dob = pd.read_csv("users_forDOB.csv",nrows=100)
df_users_dob['dob'] = (datetime.today() - pd.to_timedelta(df_users_dob['age']*365,unit='D')).dt.date
df_users_dob=df_users_dob['dob']
df_users = pd.concat([df_users, df_users_dob], axis=1)
#change the data types to ensure they will be stored as proper datatypes in SQL database
df_users['user_id'] = df_users['user_id'].astype(int)
df_users['first_name'] = df_users['first_name'].astype(object)
df_users['last_name'] = df_users['last_name'].astype(object)
df_users['credit_card'] = df_users['credit_card'].astype(int)
df_users['address_id'] = df_users['address_id'].astype(int)

In [10]:
#generate addresses of users
users_addresses = []
for i in range(1, 101):
    users_addresses.append((
        i,
        fake.street_address(),
        fake.secondary_address(),
        fake.city(),
        fake.state(),
        'United States',
        fake.zipcode()
    ))
users_addresses_df = pd.DataFrame(users_addresses, columns=["address_id", "address_line1", "address_line2", "city_name", "state", "country", "zipcode"])

In [11]:
#check if the hotel cities are all included in destination cities
hotel_cities = set(hotels_sample['place'])
destination_cities = set(flights_sample['from'])

if hotel_cities.issubset(destination_cities):
    print("All hotel cities are included in destination cities.")
else:
    print(hotel_cities)

All hotel cities are included in destination cities.

In [12]:
#get a list of hotels and places from the hotels_sample, create fake full addresses for these hotels
hotel_temp = hotels_sample[['name', 'place']].drop_duplicates()

new_street_addresses = [fake.street_address() for i in range(1, 10)]
new_zipcodes = [fake.zipcode() for i in range(1, 10)]
new_countries = ['Brazil' for i in range(1, 10)]

hotel_temp['street_address'] = new_street_addresses
hotel_temp['zipcode'] = new_zipcodes
hotel_temp['country'] = new_countries

In [13]:
#rename the hotel table so that they fit the names of the hotels table, append a id column
hotel_temp.rename(columns={'place': 'city_name', 'street_address': 'address_line1'}, inplace=True)
hotel_addresses = hotel_temp
hotel_addresses.insert(0, 'address_id', range(101, 101 + len(hotel_addresses)))
hotel_addresses_df = hotel_addresses.loc[:, hotel_addresses.columns != 'name']

In [14]:
#load addresses data into sql
users_addresses_df.to_sql(name='addresses', con=engine, if_exists='append', index=False)
hotel_addresses_df.to_sql(name='addresses', con=engine, if_exists='append', index=False)

9

In [15]:
#load user data into sql
df_users.to_sql(name='users', con=engine, if_exists='append', index=False)

100

In [16]:
#select all airlines companies in the flights sample and generate full data
airlines = flights_sample[['agency']].drop_duplicates()
companies = []
for i, airline in enumerate(airlines['agency']):
    companies.append((
        i+1,
        'airline',
        airline,
        random.choice(['Basic', 'Premium']),
        fake.sentence()
    ))
#generate 3 more hotel companies and 3 more car rental companies
for i in range(4, 7):
    companies.append((
        i,
        'hotel',
        fake.company(),
        random.choice(['Basic', 'Premium']),
        fake.sentence()
    ))

for i in range(7, 10):
    companies.append((
        i,
        'car rental',
        fake.company(),
        random.choice(['Basic', 'Premium']),
        fake.sentence()
    ))

companies_df = pd.DataFrame(companies, columns=["company_id", "type", "company_name", "membership_status", "description_text"])

In [17]:
#load companies data into sql
companies_df.to_sql(name='companies', con=engine, if_exists='append', index=False)

9

In [18]:
#assign companies to each hotel in the hotel_temp table, and append ids
hotel_companies = companies_df.loc[companies_df['type'] == 'hotel', 'company_id'].tolist()

In [19]:
hotelcompany_ids = [random.choice(hotel_companies) for _ in range(9)]
hotel_temp['company_id'] = hotelcompany_ids
hotel_temp.insert(0, 'hotel_id', range(1, 1 + len(hotel_temp)))

In [20]:
#load hotels data into sql
hotels_df = hotel_temp[['hotel_id', 'name', 'company_id', 'address_id']].copy()
hotels_df.rename(columns={'name': 'hotel_name'}, inplace=True)
hotels_df.to_sql(name='hotels', con=engine, if_exists='append', index=False)

9

In [21]:
#generate rooms in the hotels
hotel_id_list = hotels_df['hotel_id'].tolist()
hotel_rooms = []
for i in range(1, 101):
    hotel_rooms.append((
        i,
        random.choice(hotel_id_list),
        random.randint(1, 1000),
        random.choice(["Single", "Double", "Suite"])
    ))
hotel_rooms_df = pd.DataFrame(hotel_rooms, columns=["room_id", "hotel_id", "room_number", "room_type"])

In [22]:
#drop meaningless duplicates generated
hotel_rooms_df.drop_duplicates(subset=['hotel_id', 'room_number'], keep='first', inplace=True)

In [23]:
#load room data into sql
hotel_rooms_df.to_sql(name='hotel_rooms', con=engine, if_exists='append', index=False)

100

In [24]:
#replace the users in hotel_sample with the 100 users in the mock dataset for better data simulation purposes
hotels_sample ['userCode'] = [random.randint(1, 99) for _ in range(len(hotels_sample))]

In [25]:
#append hotel id and choose room id correspondingly
hotel_dict = dict(zip(hotels_df['hotel_name'], hotels_df['hotel_id']))
hotels_sample['hotel_id'] = hotels_sample['name'].map(hotel_dict)

In [26]:
available_rooms = {hotel_id: set(hotel_rooms_df.loc[hotel_rooms_df['hotel_id'] == hotel_id, 'room_number'].tolist()) for hotel_id in hotels_df['hotel_id'].tolist()}

In [27]:
#randomly select a room
random.seed(100)
for i, row in hotels_sample.iterrows():
    hotel_id = row['hotel_id']
    room_number = random.choice(list(available_rooms[hotel_id]))
    hotels_sample.at[i, 'room_number'] = str(room_number)

In [28]:
hotels_sample = hotels_sample.reset_index(drop=True)

In [29]:
rooms_dict = dict(zip(hotel_rooms_df['room_number'], hotel_rooms_df['room_id']))

In [30]:
#change data type to ensure the mapping
hotels_sample['room_number']=hotels_sample['room_number'].astype(int)

In [31]:
#use room_id instead of room_number
hotels_sample['room_id'] = hotels_sample['room_number'].map(rooms_dict)

In [32]:
#add a check out date column
import datetime
hotels_sample['date'] = pd.to_datetime(hotels_sample['date'])
hotels_sample['check_out_date'] = hotels_sample['date'] + pd.to_timedelta(hotels_sample['days'], unit='D')

In [33]:
#load hotel_reservation data into sql
hotel_reservation_df = hotels_sample.insert(0, 'reservation_id', range(1, 1 + len(hotels_sample)))

In [34]:
#select required information from the hotels_sample
hotel_reservation_df = hotels_sample[['reservation_id','userCode','price','date','check_out_date','room_id']]

In [35]:
#rename the attributes so that they fit into sql database
hotel_reservation_df.rename(columns={'reservation_id':'hotel_reservation_id','date': 'check_in_date','userCode':'user_id','price':'price_per_night'}, inplace=True)

C:\Users\ZHOU\AppData\Local\Temp\ipykernel_26120\2519675927.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_reservation_df.rename(columns={'reservation_id':'hotel_reservation_id','date': 'check_in_date','userCode':'user_id','price':'price_per_night'}, inplace=True)

In [36]:
#read reservation data into sql
hotel_reservation_df.to_sql(name='hotel_reservation', con=engine, if_exists='append', index=False)

300

In [37]:
#create a reviews table with text and rating from reviews_sample and all the other columns from hotels_sample
reviews_text = reviews_sample[['Title','Score']]
reviews_other = hotels_sample[['userCode','check_out_date','hotel_id']]

In [38]:
#rearrange the index column so the index column of the two data frames fits each other
reviews_text['index'] = range(1, len(reviews_text) + 1)
reviews_text.set_index('index', inplace=True)
reviews_other['index'] = range(1, len(reviews_text) + 1)
reviews_other.set_index('index', inplace=True)

C:\Users\ZHOU\AppData\Local\Temp\ipykernel_26120\1074377479.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews_text['index'] = range(1, len(reviews_text) + 1)
C:\Users\ZHOU\AppData\Local\Temp\ipykernel_26120\1074377479.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews_other['index'] = range(1, len(reviews_text) + 1)

In [39]:
#combine the two tables
reviews_df = pd.concat([reviews_text, reviews_other], axis=1)
#modify column names
reviews_df.rename(columns={'Title':'review_text','Score': 'rating','check_out_date':'review_date','userCode':'user_id'}, inplace=True)
reviews_df['rating'] = reviews_df['rating'].astype(int)

In [40]:
#append reviews data to sql
reviews_df.to_sql(name='hotel_reviews', con=engine, if_exists='append', index=False)

300

In [41]:
#vehicle data

import random
#randomly select a sample of size 100 from cars_sample
sample_size = 100
vehicle_sample = cars_sample.sample(n=sample_size, random_state=310)

#read vehicles generated data
vehicles_data = pd.read_csv("vehicles.csv", nrows=100)
vehicle_reservations = pd.read_csv("vehicle_reservations.csv", nrows=100)


# Get the car rental company IDs
car_rental_company_ids = companies_df.loc[companies_df["type"] == "car rental", "company_id"].tolist()

# Randomly assign a car rental company ID to each vehicle
vehicles_data['company_id'] = [random.choice(car_rental_company_ids) for _ in range(len(vehicles_data))]

# Get a list of city names from the destination_cities DataFrame
city_names = cities_df["city_name"].tolist()

# Create a new DataFrame
new_df = pd.DataFrame()
new_df["vehicle_reservation_id"] = vehicle_reservations["vehicle_reservation_id"]
new_df["user_id"] = vehicle_reservations["user_id"]
new_df["vin_number"] = vehicles_data["vin_number"]
new_df["plate_number"] = vehicles_data["plate_number"]
new_df["company_id"] = vehicles_data["company_id"]

# Create a list of random indices with the same length as vehicles_data
car_data_indices = random.choices(range(len(vehicle_sample)), k=len(vehicles_data))

#Assign random car data (manufacturer, model, type, and year) to each vehicle in new_df
new_df["manufacturer"] = vehicle_sample["vehicle.make"].iloc[car_data_indices].values
new_df["model"] = vehicle_sample["vehicle.model"].iloc[car_data_indices].values
new_df["type"] = vehicle_sample["vehicle.type"].iloc[car_data_indices].values
new_df["vehicle_year"]= vehicle_sample["vehicle.year"].iloc[car_data_indices].values

#Assign pick_up_time and return_time from vehicle_reservations to new_df
new_df["pick_up_time"] = vehicle_reservations["pick_up_time"]
new_df["return_time"] = vehicle_reservations["return_time"]

#Assign random pick-up and return locations to each vehicle reservation in new_df
new_df["pick_up_location"] = [random.choice(city_names) for _ in range(len(new_df))]
new_df["return_location"] = [random.choice(city_names) for _ in range(len(new_df))]

#Calculate price per hour by dividing the daily rate by 24 and rounding to 2 decimal places
new_df["price_per_hour"] = (vehicle_sample["rate.daily"].iloc[car_data_indices].values / 24).round(2)

print(new_df.head())

   vehicle_reservation_id  user_id         vin_number plate_number  \
0                       1       74  WAUZL54B11N418415      WCA K26
1                       2       86  WAULV44E97N447478      HP6 H4B
2                       3       61  2B3CK3CVXAH392323      XJJ-361
3                       4       90  19UUA9F7XDA972830      GI7 Y9T
4                       5       13  WAU4FAFR1DA451706      36E•737

   company_id   manufacturer     model type  vehicle_year  \
0           9          Honda    Accord  car          2017
1           8      Chevrolet    Camaro  car          2015
2           7           Ford     Focus  car          2007
3           8  Mercedes-Benz  Sprinter  van          2018
4           8        Porsche     Macan  suv          2018

          pick_up_time          return_time pick_up_location return_location  \
0  2022-09-24 04:54:10  2022-09-26 05:54:10            Natal   Florianopolis
1  2021-04-26 20:56:54  2021-04-28 16:56:54            Natal          Recife
2  2022-09-09 00:58:56  2022-09-10 15:58:56            Natal         Aracaju
3  2021-10-20 22:03:34  2021-10-22 11:03:34        Sao Paulo           Natal
4  2021-12-27 16:30:47  2021-12-28 06:30:47     Campo Grande           Natal

   price_per_hour
0            1.50
1            4.96
2            1.04
3           11.46
4            4.08

In [42]:
#Select relevant columns from 'new_df' and create 'vehicles_df'
vehicles_df = new_df[["vin_number", "plate_number", "company_id", "manufacturer", "model", "type", "vehicle_year"]]
print(vehicles_df.head())

          vin_number plate_number  company_id   manufacturer     model type  \
0  WAUZL54B11N418415      WCA K26           9          Honda    Accord  car
1  WAULV44E97N447478      HP6 H4B           8      Chevrolet    Camaro  car
2  2B3CK3CVXAH392323      XJJ-361           7           Ford     Focus  car
3  19UUA9F7XDA972830      GI7 Y9T           8  Mercedes-Benz  Sprinter  van
4  WAU4FAFR1DA451706      36E•737           8        Porsche     Macan  suv

   vehicle_year
0          2017
1          2015
2          2007
3          2018
4          2018

In [43]:
# Insert 'vehicles_df' DataFrame into a new table called 'vehicles' in your SQL database
vehicles_df.to_sql(name='vehicles', con=engine, if_exists='append', index=False)

100

In [44]:
# Create a new DataFrame 'vehicle_reservation' with the desired columns
vehicle_reservation = new_df[["vehicle_reservation_id", "vin_number", "user_id", "pick_up_time", "return_time", "pick_up_location", "return_location", "price_per_hour"]]

In [45]:
# Insert 'vehicle_reservation' DataFrame into a new table called 'vehicle_reservation' in the SQL database
vehicle_reservation.to_sql('vehicle_reservation', engine, if_exists='append', index=False)

100

In [46]:
vehicle_reservation

,vehicle_reservation_id,vin_number,user_id,pick_up_time,return_time,pick_up_location,return_location,price_per_hour
0,1,WAUZL54B11N418415,74,2022-09-24 04:54:10,2022-09-26 05:54:10,Natal,Florianopolis,1.50
1,2,WAULV44E97N447478,86,2021-04-26 20:56:54,2021-04-28 16:56:54,Natal,Recife,4.96
2,3,2B3CK3CVXAH392323,61,2022-09-09 00:58:56,2022-09-10 15:58:56,Natal,Aracaju,1.04
3,4,19UUA9F7XDA972830,90,2021-10-20 22:03:34,2021-10-22 11:03:34,Sao Paulo,Natal,11.46
4,5,WAU4FAFR1DA451706,13,2021-12-27 16:30:47,2021-12-28 06:30:47,Campo Grande,Natal,4.08
...,...,...,...,...,...,...,...,...
95,96,KNALN4D74F5538321,13,2022-05-16 04:51:26,2022-05-19 07:51:26,Florianopolis,Brasilia,1.67
96,97,WA1WKAFP1AA604306,84,2021-11-11 06:58:44,2021-11-12 20:58:44,Florianopolis,Rio de Janeiro,1.46
97,98,WAUXU64B23N774367,5,2022-09-20 03:01:05,2022-09-27 00:01:05,Sao Paulo,Florianopolis,2.00
98,99,KL4CJGSBXEB402096,36,2022-05-10 06:50:43,2022-05-13 08:50:43,Florianopolis,Rio de Janeiro,3.62
99,100,WAUEG94F16N331716,89,2023-02-08 06:08:59,2023-02-12 17:08:59,Salvador,Campo Grande,4.17

In [47]:
import pandas as pd
import random

#randomly select a sample of size 100 from flights_raw
sample_size = 100
flight_sample = flights_raw.sample(n=sample_size, replace=True, random_state=310)

#read "flight_reservations" and "flight_segment" generated data
flight_reservation = pd.read_csv('flight_reservations.csv', nrows=sample_size)
flight_segment = pd.read_csv('flight_segment.csv', nrows=sample_size)


# Create a new DataFrame with the desired columns
new_flight_df = pd.DataFrame()
new_flight_df["flight_reservation_id"] = flight_reservation["flight_reservation_id"]
new_flight_df["user_id"] = flight_reservation["user_id"]
new_flight_df["price_per_ticket"] = flight_sample["price"].reset_index(drop=True)  # Reset the index
new_flight_df["tickets_purchased"] = flight_reservation["tickets_purchased"]
new_flight_df["flight_number"] = flight_segment["flight_number"]

#Randomly sample 'city_id' from 'cities_df' DataFrame as 'city_dept' column, and add it to 'new_flight_df' while resetting the index.
new_flight_df["city_dept"] = cities_df.sample(n=sample_size, replace=True, random_state=310)["city_id"].reset_index(drop=True)

#Randomly sample 'city_id' from 'cities_df' DataFrame as 'city_dept' column, and add it to 'new_flight_df' while resetting the index.
new_flight_df["city_arvl"] = cities_df.sample(n=sample_size, replace=True, random_state=311)["city_id"].reset_index(drop=True)
new_flight_df["airplane_id"] = flight_segment["airplane_id"]
new_flight_df["take_off_date"] = flight_sample["date"].reset_index(drop=True)
new_flight_df["flight_time"] = flight_sample["time"].reset_index(drop=True)
new_flight_df["seat_type"] = flight_sample["flightType"].reset_index(drop=True)

In [48]:
print(new_flight_df.head())

   flight_reservation_id  user_id  price_per_ticket  tickets_purchased  \
0                      1       84           1100.85                  1
1                      2       91            549.55                  1
2                      3       61           1038.95                  3
3                      4       98            882.99                  1
4                      5       60            879.10                  1

  flight_number city_dept city_arvl  airplane_id take_off_date  flight_time  \
0        TH3808        RN        SC           58    11/26/2020         1.55
1        IT0163        MS        SE           71    12/01/2022         1.21
2        WI8283        BH        RN           47    03/02/2020         1.39
3        ES5993        SE        BH           64    05/02/2021         2.09
4        PP3418        RJ        SE            7    10/02/2020         2.10

    seat_type
0     premium
1  firstClass
2  firstClass
3    economic
4    economic

In [49]:
#Create a 'flight_reservation_df' DataFrame with selected columns from 'new_flight_df'
flight_reservation_df = new_flight_df[["flight_reservation_id","user_id","price_per_ticket","tickets_purchased"]]

In [50]:
print(flight_reservation_df.head())

   flight_reservation_id  user_id  price_per_ticket  tickets_purchased
0                      1       84           1100.85                  1
1                      2       91            549.55                  1
2                      3       61           1038.95                  3
3                      4       98            882.99                  1
4                      5       60            879.10                  1

In [51]:
from sqlalchemy import text

# Drop the dependent tables with CASCADE
with engine.connect() as conn:
    conn.execute(text("DROP TABLE IF EXISTS transaction CASCADE;"))
    conn.execute(text("DROP TABLE IF EXISTS flight_passenger CASCADE;"))
    conn.execute(text("DROP TABLE IF EXISTS flight_segment CASCADE;"))

In [52]:
# Insert 'flight_reservation_df' DataFrame into a new table called 'flight_reservation'
flight_reservation_df.to_sql('flight_reservation', engine, if_exists='replace', index=False)

100

In [53]:
#Create a new DataFrame 'flight_segment_df' with selected columns from 'new_flight_df'
flight_segment_df = new_flight_df[[
    "flight_reservation_id",
    "flight_number",
    "city_dept",
    "city_arvl",
    "airplane_id",
    "take_off_date",
    "flight_time",
    "seat_type"
]]
print(flight_segment_df)

   flight_reservation_id flight_number city_dept city_arvl  airplane_id  \
0                      1        TH3808        RN        SC           58
1                      2        IT0163        MS        SE           71
2                      3        WI8283        BH        RN           47
3                      4        ES5993        SE        BH           64
4                      5        PP3418        RJ        SE            7

  take_off_date  flight_time   seat_type
0    11/26/2020         1.55     premium
1    12/01/2022         1.21  firstClass
2    03/02/2020         1.39  firstClass
3    05/02/2021         2.09    economic
4    10/02/2020         2.10    economic

In [54]:
#Store 'flight_segment_df' DataFrame into the 'flight_segment' table in the SQL database, replacing the table if it exists
flight_segment_df.to_sql('flight_segment', engine, if_exists='replace', index=False)

100

In [55]:
#read flight_passenger generated data
flight_passenger = pd.read_csv('flight_passenger.csv', nrows=100)

In [56]:
# Insert 'flight_passenger' DataFrame into a new table called 'flight_passenger'
flight_passenger.to_sql('flight_passenger', engine, if_exists='append', index=False)

100

In [57]:
#load airplanes generated data 
airplanes = pd.read_csv('airplanes.csv',nrows = 100)

In [58]:
# Get the airplanes company IDs
airplanes_company_ids = companies_df.loc[companies_df["type"] == "airline", "company_id"].tolist()

# Randomly assign a car rental company ID to each airline
airplanes['company_id'] = [random.choice(airplanes_company_ids) for _ in range(len(airplanes))]

In [59]:
airplanes

,airplane_id,aircraft_type,manufacturer,model,number_of_seats,company_id
0,157,Self-enabling optimal moderator,"Sharp, Sparks and Nguyen",appear,301,1
1,540,Cross-platform well-modulated concept,Hamilton-Palmer,second,164,3
2,46,Organic local framework,Nolan-Jones,stand,52,3
3,973,Networked national Graphical User Interface,Proctor-Ward,performance,400,1
4,713,Multi-channeled real-time functionalities,Mann Group,from,370,3
...,...,...,...,...,...,...
95,455,Open-architected stable throughput,"Miller, Campbell and Estrada",camera,54,2
96,178,Customizable multi-tasking emulation,Santiago PLC,fish,151,3
97,663,Customizable mission-critical challenge,"Robertson, Palmer and Greer",food,127,3
98,163,Grass-roots 5thgeneration monitoring,"Whitaker, Jones and Cook",firm,181,2
99,31,Multi-lateral explicit collaboration,Sanchez Ltd,sure,142,3

In [60]:
## Save the 'airplanes' DataFrame to the 'airplanes' table in the SQL database, replacing the table if it already exists
airplanes.to_sql('airplanes', engine, if_exists='replace', index=False)

100

In [62]:
# transaction

# Read the CSV files
flight_reservations = flight_reservation_df
hotel_reservations = hotel_reservation_df
vehicle_reservations = vehicle_reservation

# Print the first few rows of each DataFrame
print("Flight Reservations:")
print(flight_reservations.head())

print("\nHotel Reservations:")
print(hotel_reservations.head())

print("\nVehicle Reservations:")
print(vehicle_reservations.head())

Flight Reservations:
   flight_reservation_id  user_id  price_per_ticket  tickets_purchased
0                      1       84           1100.85                  1
1                      2       91            549.55                  1
2                      3       61           1038.95                  3
3                      4       98            882.99                  1
4                      5       60            879.10                  1

Hotel Reservations:
   hotel_reservation_id  user_id  price_per_night check_in_date  \
0                     1       23           242.88    2020-03-12
1                     2       54           312.83    2023-03-23
2                     3       14            60.39    2020-11-26
3                     4        2           165.99    2020-10-15
4                     5       94            60.39    2021-11-25

  check_out_date  room_id
0     2020-03-14       76
1     2023-03-27       30
2     2020-11-30       74
3     2020-10-18       75
4     2021-11-26       47

Vehicle Reservations:
   vehicle_reservation_id         vin_number  user_id         pick_up_time  \
0                       1  WAUZL54B11N418415       74  2022-09-24 04:54:10
1                       2  WAULV44E97N447478       86  2021-04-26 20:56:54
2                       3  2B3CK3CVXAH392323       61  2022-09-09 00:58:56
3                       4  19UUA9F7XDA972830       90  2021-10-20 22:03:34
4                       5  WAU4FAFR1DA451706       13  2021-12-27 16:30:47

           return_time pick_up_location return_location  price_per_hour
0  2022-09-26 05:54:10            Natal   Florianopolis            1.50
1  2021-04-28 16:56:54            Natal          Recife            4.96
2  2022-09-10 15:58:56            Natal         Aracaju            1.04
3  2021-10-22 11:03:34        Sao Paulo           Natal           11.46
4  2021-12-28 06:30:47     Campo Grande           Natal            4.08

In [63]:
import pandas as pd
import random
from datetime import date, timedelta

# Perform right joins on the tables based on user_id
merged_hotel_vehicle = hotel_reservations.merge(vehicle_reservation, on="user_id", how="right")
merged_reservations = merged_hotel_vehicle.merge(flight_reservation, on="user_id", how="right", suffixes=('', '_flight'))
print("Merged Reservations:")
print(merged_reservations.head())

Merged Reservations:
   hotel_reservation_id  user_id  price_per_night check_in_date  \
0                  31.0       84           263.41    2022-11-03
1                 114.0       84           139.10    2020-12-17
2                 179.0       84           263.41    2022-04-28
3                 271.0       84           263.41    2020-01-16
4                 278.0       84           247.62    2021-01-14

  check_out_date  room_id  vehicle_reservation_id         vin_number  \
0     2022-11-06     33.0                    97.0  WA1WKAFP1AA604306
1     2020-12-20     77.0                    97.0  WA1WKAFP1AA604306
2     2022-05-01     79.0                    97.0  WA1WKAFP1AA604306
3     2020-01-18     21.0                    97.0  WA1WKAFP1AA604306
4     2021-01-17     15.0                    97.0  WA1WKAFP1AA604306

          pick_up_time          return_time pick_up_location return_location  \
0  2021-11-11 06:58:44  2021-11-12 20:58:44    Florianopolis  Rio de Janeiro
1  2021-11-11 06:58:44  2021-11-12 20:58:44    Florianopolis  Rio de Janeiro
2  2021-11-11 06:58:44  2021-11-12 20:58:44    Florianopolis  Rio de Janeiro
3  2021-11-11 06:58:44  2021-11-12 20:58:44    Florianopolis  Rio de Janeiro
4  2021-11-11 06:58:44  2021-11-12 20:58:44    Florianopolis  Rio de Janeiro

   price_per_hour  flight_reservation_id  price_per_ticket  tickets_purchased
0            1.46                      1            314.51                  1
1            1.46                      1            314.51                  1
2            1.46                      1            314.51                  1
3            1.46                      1            314.51                  1
4            1.46                      1            314.51                  1

In [64]:

import numpy as np

#Create an empty DataFrame 'transaction' with columns
transaction = pd.DataFrame(columns=["transaction_id", "hotel_reservation_id", "vehicle_reservation_id",
                                    "flight_reservation_id", "user_id", "payment", "transaction_date", "cancelled"])

# Fill the transaction DataFrame with data from merged_reservations

#Generate a sequence of integers from 1 to the length of 'merged_reservations' DataFrame and assign it to the 'transaction_id' column.
transaction["transaction_id"] = np.arange(1, len(merged_reservations) + 1)
transaction["hotel_reservation_id"] = merged_reservations["hotel_reservation_id"]
transaction["vehicle_reservation_id"] = merged_reservations["vehicle_reservation_id"]
transaction["flight_reservation_id"] = merged_reservations["flight_reservation_id"]
transaction["user_id"] = merged_reservations["user_id"]

#assign a random payment method (Debit Card, PayPal, Credit Card, or ApplePay) for each row in 'transaction' DataFrame.
transaction["payment"] = [random.choice(["Debit Card","PayPal","Credit Card","ApplePay"]) for _ in range(len(merged_reservations))]

# assign a random binary value (0 or 1) for each row in 'transaction' DataFrame.
transaction["cancelled"] = [random.choice([0, 1]) for _ in range(len(merged_reservations))]

In [65]:
#Set the start date as January 1, 2020
start_date = date(2020, 1, 1)
#Get today's date
today = date.today()
#Calculate the number of days between the start date and today's date
num_days = (today - start_date).days

# Generate random transaction dates within a specified date range for each row in 'merged_reservations'
transaction["transaction_date"] = [
    (start_date + timedelta(days=random.randint(0, num_days))).strftime("%Y-%m-%d")
    for _ in range(len(merged_reservations))
]

In [66]:
# Print the first few rows of the transaction DataFrame
transaction

,transaction_id,hotel_reservation_id,vehicle_reservation_id,flight_reservation_id,user_id,payment,transaction_date,cancelled
0,1,31.0,97.0,1,84,ApplePay,2023-04-23,0
1,2,114.0,97.0,1,84,Debit Card,2021-03-04,0
2,3,179.0,97.0,1,84,Credit Card,2021-01-04,1
3,4,271.0,97.0,1,84,Credit Card,2021-07-05,0
4,5,278.0,97.0,1,84,ApplePay,2022-05-01,1
...,...,...,...,...,...,...,...,...
330,331,35.0,25.0,100,2,ApplePay,2021-12-10,0
331,332,57.0,25.0,100,2,Credit Card,2023-03-25,0
332,333,59.0,25.0,100,2,Credit Card,2023-04-25,0
333,334,80.0,25.0,100,2,Credit Card,2021-01-21,0
334,335,295.0,25.0,100,2,Debit Card,2023-04-07,0

In [67]:
#load airplanes data into sql
transaction.to_sql('transaction', engine, if_exists='replace', index=False)

335

In [68]:
# close the connection